<section id="footer" style="color: white;">
    <div class="container">
        
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5 d-flex">
               <ul style="list-style-type:none; margin-right: 50px;" id="header">
                    <li style="color: #fca016;"><strong>Ürünler</strong></li>
                    <li>Müşteri İlişkileri Yönetimi</li>
                    <li>Ürün Kataloğu Yönetimi</li>
                    <li>Teklif Yönetimi</li>
               </ul>
               <ul style="list-style-type:none; margin-right: 50px;">
                    <li style="color: #fca016;"><strong>Çözümler</strong></li>
                    <li>Veri Analitiği</li>
                    <li>Dijital Müşteri Yönetim Platformu</li>
                    <li>Video Analitiği Çözümleri</li> <br>

                    <li style="color: #fca016; margin-right: 50px;"><strong>Servisler</strong></li>
                    <li>Danışmanlık</li>
                    <li>Yönetilen Servisler</li>
                    <li>BT Servisleri</li>
               </ul>
                <ul style="list-style-type:none; margin-right: 50px;">
                    <li style="color: #fca016;"><strong>Hakkımızda</strong></li>
                    <li>Şirket Profili</li>
                    <li>Sosyal Sorumluluk</li>
                    <li>Yönetim Ekibi</li>
                </ul>
                <ul style="list-style-type:none; margin-right: 50px;">
                    <li style="color: #fca016;"><strong>Kariyer</strong></li>
                    <li>Etiya Kültürü</li>
                    <li>Genç Yetenekler</li>
                    <li>Açık Pozisyonlar</li>
                </ul>
                <ul style="list-style-type:none; margin-right: 50px;">
                    <li style="color: #fca016;"><strong>Haber ve Medya</strong></li>
                    <li>Haber</li>
                    <li>Etkinlik</li>
                    <li>Basın Kiti</li><br>

                    <li style="color: #fca016;">Blog</li>
                    <li style="color: #fca016;">Bize Ulaşın</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
               <p class="h6" style="color: #fca016;">2022 © ETİYA TÜM HAKLARI SAKLIDIR</p>
            </div>
        </div>
    </div>
</section>
